<div class="col-lg-4 offset-lg-5">   
<h4>Coffees</h4>
</div>
<table class="table">
  <% @coffees.each do |coffee| %>
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">coffee name</th>
          <th scope="col">amount</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">*</th>
          <td><%= link_to coffee.name, admin_coffee_path(coffee) %></td>
          <td><%= coffee.amount %></td>
          <td><%= coffee.created_at.strftime('%d %b %Y %H:%M %p')%></td>
          <td><%= link_to "Edit",  edit_admin_coffee_path(coffee) %></td>
        </tr>
      </tbody>
  <% end %>
</table>
  