<!DOCTYPE html>
<html>
<head> <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>  <body>
 <h3>Welcome to coffe shop <%= @user.user_name %>,</h3>
    <p>You have successfully signed up and are well on your way to a better life.    </p> <p> Here's a sloth, you're welcome.  </p>
    <p>Thanks for joining and have a great day!</p>
  </body></html>
